@using Automarket.Domain.Entity;
@model User;

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Poppins&display=swap" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="~/img/automarket_1.jpg">
<script src="/js/profile.js" asp-append-version="true"></script>

@{
    Layout = null;
    <title>Profile - Automarket</title>
}

<body>
    <main>
        <div class="copy_alert" id="copyAlert">
            <div>
                <span class="copy_alert_text">The link copied to clipboard</span>
                <span id="closeCopyAlert" class="close_copy">&times;</span>
            </div>
        </div>

        <div class="profile_bg"></div>
        <div class="white_bg"></div>
        <div class="profile_header">
            <div class="back_container">
                <a class="back_link" asp-controller="Home" asp-action="Index">
                    <img class="back_button" src="~/img/back_icon1.png" alt="Back button" />
                    <span class="back_text">Back</span>
                </a>
            </div>
            <div class="user_container">
                <img class="user_icon" src="~/img/user_icon.png" alt="User icon" />
                <span class="username_text">@Model.Username</span>
            </div>
        </div>
        <div class="user_information_container">
            <div class="user_information1">
                <div class="settings_upper">
                    <h2 class="profile_title">My Account</h2>
                    <a class="settings_button" asp-controller="Account"
                       asp-action="ChangeProfile" asp-route-id="@Model.Id">
                        <span class="settings_text">Edit</span>
                    </a>
                </div>
                <h3 class="user_title">User information</h3>
                <div class="user_information">
                    <form>
                        <div class="input_column">
                            <div>
                                <label class="profile_label" for="login">Login</label>
                                <input class="profile_input" asp-for="Email"
                                    type="email" name="login" readonly disabled />
                            </div>
                            <div>
                                <label class="profile_label" for="username">Username</label>
                                <input class="profile_input" asp-for="Username"
                                       type="text" name="username" readonly disabled />
                            </div>                            
                        </div>
                        <div class="input_column">
                            <div>
                                <label class="profile_label" for="first_name">First name</label>
                                <input class="profile_input" asp-for="Name"
                                    type="text" name="first_name" readonly disabled />
                            </div>
                            <div>
                                <label class="profile_label" for="last_name">Last name</label>
                                <input class="profile_input" asp-for="Lastname"
                                    type="text" name="last_name" readonly disabled />
                            </div>
                        </div>
                        <div class="input_column">
                            <div>
                                <label class="profile_label" for="age">Age</label>
                                <input class="profile_input" asp-for="Age"
                                    type="number" name="age" min="12" max="120" readonly disabled />
                            </div>
                            <div>
                                <label class="profile_label" for="role">Role</label>
                                <input class="profile_input" asp-for="Role"
                                    type="text" name="role" readonly disabled />
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <div class="user_information2">
                <div class="short_information">
                    <img class="user_avatar" src="~/img/user_icon.png" alt="User icon" />
                    <div class="hr_separator"></div>
                    <div class="short_container">
                        <div class="info_line">
                            <span class="short_label">Services status:</span>
                            <span class="short_text">You have 1 current services</span>
                            <a class="check_services_button" asp-controller="Home" asp-action="Index">
                                <span class="settings_text">Check</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="profile_buttons_container">
                    <div class="profile_buttons">
                        <button id="openShare" class="invite_button">
                            <span class="settings_text">Invite</span>
                        </button>

                        <div id="myModal" class="modal_share">
                            <div class="share_content">
                                <span id="closeModalButton" class="close_share">&times;</span>
                                <h2 class="form_title">Share the link</h2>
                                <hr class="share_hr" />
                                <span class="share_text">Share</span>
                                <div class="socialmedia_list">
                                    <a class="share_item" id="telegramShareButton" target="blank">
                                        <img class="socialmedia_icon" src="~/img/telegram_icon.png" alt="telegram" get_socialmedia="telegram" />
                                        <span>Telegram</span>
                                    </a>
                                    <a class="share_item" id="instagramShareButton" target="blank">
                                        <img class="socialmedia_icon" src="~/img/instagram_icon.png" alt="instagram" get_socialmedia="instagram" />
                                        <span>Instagram</span>
                                    </a>
                                    <a class="share_item" id="twitterShareButton" target="blank">
                                        <img class="socialmedia_icon" src="~/img/twitter_icon.png" alt="twitter" get_socialmedia="twitter" />
                                        <span>Twitter</span>
                                    </a>
                                    <a class="share_item" id="facebookShareButton" target="blank">
                                        <img class="socialmedia_icon" src="~/img/facebook_icon1.png" alt="facebook" get_socialmedia="facebook" />
                                        <span>Facebook</span>
                                    </a>
                                    <a class="share_item" id="viberShareButton" target="blank">
                                        <img class="socialmedia_icon" src="~/img/viber_icon.png" alt="viber" get_socialmedia="viber" />
                                        <span>Viber</span>
                                    </a>
                                    <a class="share_item" id="whatsappShareButton" target="blank">
                                        <img class="socialmedia_icon" src="~/img/whatsapp_icon.png" alt="whatsapp" get_socialmedia="whatsapp" />
                                        <span>WhatsApp</span>
                                    </a>
                                </div>
                                <hr class="share_hr" />
                                <input class="share_input" type="text" id="invitationLink" readonly>
                                <button class="copy_button" id="copyLinkButton">
                                    <span class="settings_text">Copy</span>
                                </button>
                            </div>
                        </div>

                        <a class="logout_button" asp-controller="Account" asp-action="Logout">
                            <span class="settings_text">Logout</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>