@using System.Text.RegularExpressions;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Automarket</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/card.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/save.css" asp-append-version="true" />  
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/service.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Poppins&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/layout.js" asp-append-version="true"></script>
    <link rel="icon" type="image/x-icon" href="~/img/automarket_1.jpg">
</head>

@{
    bool authenticated = User.Identity.IsAuthenticated;
    bool admin = User.IsInRole("Administrator") || User.IsInRole("Admin");

    bool searchForm = false;
    if (ViewData["Title"] == "Consumables")
    {
        searchForm = true;
    }  
}

<body>
    <header class="header">       
        <div class="logo">
            <a href="" class="dropdown_menu"></a>
            <a asp-controller="Home" asp-action="Index" class="logo_link">
                <span class="white_text">Sec</span><span class="yellow_text">Auto</span>
            </a>
            @if (admin)
            {
                <a asp-controller="Admin" asp-action="Adminpanel" class="adminpanel_button">
                    <span>Admin Panel</span>
                </a>
            }
        </div>

        @if (searchForm)
        {
            <section>
                <div class="header_search_form">
                    <form class="search_form" onsubmit="event.preventDefault(); searchItems();">
                        <input class="search_input" id="itemsSearch" type="text" placeholder="Search...">
                        <button class="search_button" type="submit">Find</button>
                    </form>
                </div>
            </section>
        }

        <nav class="header_links">
            <div class="nav_links">               
                @if (authenticated)
                {
                    <a class="header_link" asp-controller="Account" asp-action="Login">
                        <div class="text_icon_container">
                            <img src="~/img/icons8-heart-100.png" alt="favourite icon" class="header_icon" />
                            <span class="icon_text">Favourite</span>
                        </div>
                    </a>

                    <a class="header_link" asp-controller="Basket" asp-action="Basket">
                        <div class="text_icon_container">
                            <img src="~/img/basket_icon.png" alt="basket icon" class="header_icon" />
                            <span class="icon_text">Basket</span>
                        </div>
                    </a>

                    <a class="header_link" asp-controller="Account" asp-action="Profile" 
                        asp-route-id="@((ViewBag.UserId != null) ? ViewBag.UserId.Data : null)">
                        <div class="text_icon_container">
                            <img src="~/img/profile_icon.png" alt="profile icon" class="header_icon" />
                            <span class="icon_text">Account</span>
                        </div>
                    </a>
                }
                else
                {
                    <a class="header_link" asp-controller="Account" asp-action="Login">
                        <div class="text_icon_container">
                            <img src="~/img/icons8-heart-100.png" alt="favourite icon" class="header_icon" />
                            <span class="icon_text">Favourite</span>
                        </div>
                    </a>

                    <a class="header_link" asp-controller="Basket" asp-action="Basket">
                        <div class="text_icon_container">
                            <img src="~/img/basket_icon.png" alt="basket icon" class="header_icon" />
                            <span class="icon_text">Basket</span>
                        </div>
                    </a>                   

                    <a class="header_link" asp-controller="Account" asp-action="Login">
                        <div class="text_icon_container">
                            <img src="~/img/profile_icon.png" alt="profile icon" class="header_icon" />
                            <span class="icon_text">Account</span>
                        </div>
                    </a>
                }
            </div>
        </nav>            
    </header>

    @RenderBody()

    <footer class="footer">
        <div class="footer_container">
            <div class="logo_footer">
                <div class="logo">
                    <a asp-controller="Home" asp-action="Index" class="logo_link">
                        <span class="white_text">Sec</span><span class="yellow_text">Auto</span>
                    </a>
                </div>
            </div>
            <div class="separator "></div>
            <div class="first_column_footer">
                <ul class="first_ul_footer">
                    <li class="footer_li">
                        <a class="white_text" asp-controller="Home" asp-action="About">
                            <span class="footer_text">About</span>
                        </a>
                    </li>
                    <li class="footer_li">
                        <a class="white_text">
                            <span class="footer_text">Products</span>
                        </a>
                    </li>
                    <li class="footer_li"><a href="" class="white_text"><span class="footer_text">Support</span></a></li>
                </ul>
                <div class="copyrights"><span class="white_text">© 2023 Secular Coop.</span></div>
            </div>
            <div class="second_column_footer">
                <ul class ="second_ul_footer">
                    <li class="footer_li">
                        <a href="">
                            <div class="text-icon_container">
                                <img src="~/img/youtube_icon.png" alt="youtube" class="header_icon" />
                            </div>
                        </a>
                    </li>                   
                    <li class="footer_li">
                        <a href="">
                            <div class="text-icon_container">
                                <img src="~/img/instagram_icon.png" alt="instagram" class="header_icon" />
                            </div>
                        </a>
                    </li>
                    <li class="footer_li">
                        <a href="">
                            <div class="text-icon_container">
                                <img src="~/img/facebook_icon1.png" alt="facebook" class="header_icon" />
                            </div>
                        </a>
                    </li>
                    <li class="footer_li">
                        <a href="">
                            <div class="text-icon_container">
                                <img src="~/img/telegram_icon.png" alt="telegram" class="header_icon" />
                            </div>
                        </a>
                    </li>
                    <li class="footer_li">
                        <a href="">
                            <div class="text-icon_container">
                                <img src="~/img/viber_icon.png" alt="telegram" class="header_icon" />
                            </div>
                        </a>
                    </li>
                    <li class="footer_li">
                        <a href="">
                            <div class="text-icon_container">
                                <img src="~/img/whatsapp_icon.png" alt="whatsapp" class="header_icon" />
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="copyrights">
                    <a href="mailto:secular.support@gmail.com" class="white_text">
                        <span class="footer_text">secular.support@gmail.com</span>
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/cards.js" asp-append-version="true"></script>
    <script src="~/js/save.js" asp-append-version="true"></script>
    <script src="~/js/admin.js" asp-append-version="true"></script>   

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
