.users_table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #f5f5f5;
    text-align: center;
}

.user_info_titles {
    background-color: #999;
    color: white;
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 700;
}

.users_info_tr:hover {
    background-color: #ccc;
    transition: 0.2s;
}

.user_info {
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 700;
    padding: 12px;
    height: 45px;
    margin: 0 auto;
}

.user_info_header {
    cursor: pointer;
}

.admin_panel_buttons {
    padding: 7px 15px;
}

.adminpanel_username {
    position: absolute;
    top: 95px;
    right: 520px;
}

.adminpanel_container {
    margin-top: 40px;
}

.delete_account {
    position: absolute;
    top: 35px;
    left: 550px;
}

.account_delete_confirmation {
    margin-bottom: 50px;
}

.admin_role {
    background-color: #ffcccb;
}

.administrator_role {
    background-color: #c1e1c5;
}

.mechanic_role {
    background-color: #cfe2f3;
}

.user_role {
    background-color: #f7ebbe;
}

.add_account {
    margin-left: 200px;
}

.search_account_form {
    margin-top: -15px;
}

.search_account {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.adminpanel_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.create_user_information {
    margin: 30px 70px;
}

.accountedit_validation {
    position: absolute;
    top: 160px;
    right: 845px;
}