.consumables_container {
    margin: 80px 50px 200px 50px;
}

.pages_path {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
    margin-left: -7px;
}

.home_icon {
    background-image: url("/img/home_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 50% 50%;
    padding: 20px;
    margin-right: -5px;
    border-radius: 100%;
    transition: 0.4s;
}

.home_icon:hover {
    background-color: #f7ce50;
}

.path_current_page {
    color: #666;
    font-size: 18px;
    font-family: "Typemates";
    text-decoration: none;
    transition: 0.4s;
}

.path_current_page::before {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color: #777;
    border-radius: 100%;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 2px;
}

.path_current_page:hover {
    color: #f7ce50;
    font-size: 18px;
    font-family: "Typemates";
    text-decoration: none;
    cursor: pointer;
}

.inactive {
    pointer-events: none;
    text-decoration: none;
    cursor: not-allowed;
}

.admin_items_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.consumables_title {
    color: #333333;
    font-size: 50px;
    font-family: "Montserrat";
}

.add_item_admin {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: "Poppins";
    font-size: 17px;
    font-weight: 700;
    transition: background-color 0.3s;
}

.add_item_admin:hover {
    background-color: #0056b3;
    color: white;
}

.car_consumables {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 30px;
}

.card_item {
    width: calc(25%);
    padding: 10px;
    border: 1px solid #ccc;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: 0.25s;
    background-color: white;
}

.card_item:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);   
    background-color: white;
    z-index: 99;
}

.favorite_icon {
    background-image: url("/img/favourite_icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 50% 60%;
    padding: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 25px;
    height: 25px;
    background-color: #ccc;
    border-radius: 100%;
    opacity: 0;
    transition: 0.25s;
}

.card_item:hover .favorite_icon {
    opacity: 1;
    transition: 0.4s;
}

.favorite_icon:hover {
    background-color: #f7ce50;
}

.card_img {
    width: 100%;
    border-radius: 5px;
}

@font-face {
    font-family: 'Typemates';
    src: url('typemates - cera round pro bold.otf') format('opentype');
}

.item_name, .item_name:hover {
    margin-top: 15px;
    text-decoration: none;
    color: #222222;
    font-size: 18px;
    font-family: "Typemates";
    line-height: 20px;
    height: auto;
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    flex-grow: 1;
    transition: 0.4s;
}

.item_card_price {
    color: #222222;
    font-size: 22px;
    font-family: "Typemates";
    margin-top: 30px;
    margin-bottom: 5px;
}

.add_to_basket {
    position: absolute;
    align-self: flex-end;
    margin-top: 280px;
    background-image: url("/img/add_to_busket.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 50% 50%;
    padding: 25px;
    width: 25px;
    height: 25px;
    background-color: #ccc;
    border-radius: 100%;
    transition: 0.4s;
}

.add_to_basket:hover {
    background-color: #f7ce50;
}

.available_item_card {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 13px;
}

.available_item_card::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 100%;
    margin-right: 5px;
}

.unavailable_item_card {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 13px;
}

.unavailable_item_card::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #666;
    border-radius: 100%;
    margin-right: 5px;
}

.admin_items_buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 2px solid #ccc;
}

.edit_items {
    font-family: "Poppins";
    font-size: 17px;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 4px;
    background-color: #84b2ff;
    cursor: pointer;
    transition: 0.3s;
}

.delete_items {
    font-family: "Poppins";
    font-size: 17px;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 4px;
    background-color: #fe6f5e;
    cursor: pointer;
    transition: 0.3s;
}

.edit_items:hover,
.delete_items:hover {
    background-color: #555;
    color: white;
}

.admin_item_pannel {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.item_selector_option {
    text-decoration: none;
    color: #666;
    font-size: 22px;
    font-family: "Typemates";
    transition: 0.4s;
    margin-right: 30px;
    position: relative;
    padding-bottom: 9px;
}

.item_selector_option:hover {
    color: #f7ce50;
    z-index: 999;
    cursor: pointer;
}

.item_selector_option::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #f7ce50;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.4s;
}

.item_selector_option:hover::after {
    transform: scaleX(1);
}

.active-tab {
    color: #f7ce50;
}

.active-tab::after {
    transform: scaleX(1);
    z-index: 9999;
    height: 3px;
    bottom: 0;
}

.item_selector_hr {
    width: 100%;
    border-top: 1px solid black;
    margin-top: 5px;
}

.edit_item {
    font-family: "Poppins";
    font-size: 17px;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 4px;
    background-color: #84b2ff;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 10px;
}

.delete_item {
    font-family: "Poppins";
    font-size: 17px;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 4px;
    background-color: #fe6f5e;
    cursor: pointer;
    transition: 0.3s;
}

.edit_item:hover,
.delete_item:hover {
    background-color: #555;
    color: white;
}

.item_information {
    display: flex;
}

.item_photo {
    height: 500px;
}

.vendor_selector {
    margin-bottom: 10px;
}

.secauto_production {
    display: inline-block;
    padding: 10px 20px;
    background-color: #826ae8;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    font-family: "Typemates";
}

.parthners_production {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1fb0a8;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    font-family: "Typemates";
}

.secauto_production:hover, .parthners_production:hover{
    cursor: default;
}

.item_img {
    width: 750px;
    margin-top: 10px;
    border-radius: 7px;
}

.item_info {
    margin-left: 40px;
}

.item_info_name {
    font-size: 25px;
    font-family: "Typemates";
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 60px;
    text-overflow: ellipsis;
}

.item_card_container {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 630px;
    height: 150px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.item_undername {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.available_item {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 16px;
}

.available_item::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 100%;
    margin-right: 5px;
}

.unavailable_item {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 16px;
}

.unavailable_item::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #666;
    border-radius: 100%;
    margin-right: 5px;
}

.code_text {
    font-size: 15px;
    font-family: "Typemates";
}

.seller_title {
    font-size: 20px;
    font-family: "Typemates";
    color: #555;
    margin-right: 5px;
}

.seller_text {
    font-size: 22px;
}

.item_info_hr {
    width: 580px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 0px;
}

.item_price_container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.item_price {
    color: #222222;
    font-size: 27px;
    font-family: "Typemates"; 
    padding-right: 50px;
}

.price_cashback {
    background-image: url("/img/cachback_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 0% 50%;   
}

.price_cashback_text {
    font-family: "Typemates";
    font-size: 15px;
    margin-left: 25px;
    color: #444;
}

.item_favourite_icon {
    position: absolute;
    background-image: url("/img/favourite_icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 50% 60%;
    border-radius: 100%;
    padding: 20px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    transition: 0.25s;
    z-index: 999;
    margin-left: -50px;
}

.item_favourite_icon:hover {
    background-color: #f7ce50;
}

.buy_button {
    position: absolute;
    background-image: url("/img/cart_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 20% 50%;
    position: absolute;
    margin-left: 465px;
    margin-top: -60px;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    background-color: #826ae8;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 25px;
    font-family: "Typemates";
    transition: 0.3s;
}

.buy_button:hover {
    display: inline-block;
    background-color: #5b4aa2;
    padding: 10px 20px 10px 20px;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 25px;
    font-family: "Typemates";
}

.buy_button_text {
    padding-left: 40px;
    padding-right: 15px;
}

.item_warranty_container {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 630px;
    height: 220px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.01);
    border-radius: 10px;
}

.warranty_container {
    background-image: url("/img/warranty_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 2% 50%;   
}

.item_warranty {
    margin-top: 15px;
    margin-left: 55px;
}

.item_card_title {
    font-size: 17px;
    font-family: "Typemates";
}

.item_card_text {
    font-size: 14px;
    font-family: "Poppins";
}

.payment_container {
    background-image: url("/img/payment_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 2% 20%;
}

.item_payment {
    margin-left: 55px;
}

.payment_icons {
    margin-top: 5px;
}

.payment_icon {
    width: 55px;
    margin-right: 25px;
}

.privat24 {
    width: 70px;
}

.cash {
    width: 40px;
}

.details_title {
    position: absolute;
    top: 220px;
    font-size: 35px;
    font-family: "Montserrat";
}

#details_content {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}

.details_columns {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.details_third {
    position: relative;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}

.detail_title {
    font-size: 20px;
    font-family: "Typemates";
    text-align: left;
    opacity: 0.75;
    margin-bottom: 20px;
    height: auto;
}

.detail_info {
    font-size: 20px;
    font-family: "Typemates";
    text-align: left;
    margin-bottom: 20px;
    height: auto;
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    flex-grow: 1;
}

.details_img {
    width: 450px;
    border-radius: 5px;
}

.mini_container {
    position: relative;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: -10px;
}

.mini_chart {
    margin-left: 340px;
    margin-top: 0px;
    border-radius: 15px;
    font-size: 25px;
    background-size: 22px;
    background-position: 20% 50%;
}

.mini_buy_button_text {
    padding-left: 25px;
}

.mini_chart:hover {
    display: inline-block;
    background-color: #5b4aa2;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 25px;
    font-family: "Typemates";
}

.details_hr {
    position: absolute;
    margin-top: 80px;
    width: 750px;
    border-top: 1px solid black;
    margin-left: 50px;
}

.details_text {
    display: flex;
    justify-content: space-between;
    width: 900px;
    padding: 90px 50px 0px 50px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}

.details_logo {
    margin-top: -20px;
    margin-left: 0px;
}

.details_second {
    width: 500px;
    margin-left: -500px;

}

.details_image {
    display: flex;
    margin-top: 10px;
}