.services_path {
   margin-left: 70px;
   margin-top: 90px;
   margin-bottom: 40px;
}

.services_title {
    color: #333333;
    font-size: 50px;
    font-family: "Montserrat";
    margin-bottom: 20px;
}

.services_container {
    text-align: center;
    margin-bottom: 200px;
}

.service_row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.service_item {
    width: 350px;
    height: 200px;
    transition: 0.2s;
    margin: 15px;
}

.service_item:hover {
    border: 2px solid #F26528;
    color: #F26528;
    box-shadow: 0 0 5px #F26528;
}    

.service_link {
    text-decoration: none;
}

.service_name {
    text-align: left;
    margin-left: 20px;
    text-decoration: none;
    color: #222222;
    font-size: 18px;
    font-family: "Typemates";
    line-height: 20px;
    height: auto;
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    flex-grow: 1;
}

.service_arrow {
    width: 35px;
    height: 35px;
    color: black;
    margin-left: 15px;
    margin-top: 20px;
    transition: color 0.4s, transform 0.4s;
}

.service_item:hover .service_arrow {
    color: #F26528;
    transform: translateX(15px);
}

.services_img {
    width: 120px;
    margin-left: 130px;
    margin-top: 20px;
}

.service_img_lower {
    width: 140px;
    margin-left: 120px;
    margin-top: 30px;
}

.service_img_lowest {
    width: 160px;
    margin-left: 110px;
    margin-top: 50px;
}

.service_img_big {
    width: 180px;
    margin-left: 100px;
    margin-top: 25px;

}

.margin_bottom {
    margin-bottom: 370px;
}

.service_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 250px;
    height: 450px;
    align-items: flex-start;
    text-align: left;
}

.service_title {
    color: #333333;
    font-size: 50px;
    font-family: "Montserrat";
    color: #F26528;
    text-align: left;
}

.service_img {
    position: relative;
    width: 450px;
    margin-left: -700px;
}

.service_img_bigg {
    position: relative;
    width: 600px;
    margin-left: -700px;
}

.service_column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-left: 250px;
}

.services_ul {
    margin-left: 20px;
}

.service_li {
    font-size: 20px;
    font-family: "Poppins";
    font-weight: 700;
    list-style: none;
    position: relative;
    margin-top: 25px;
}

.service_li::before {
    content: '\2022';
    border: none;
    color: #F26528;    
    display: inline-block;
    width: 1em;
    font-size: 2em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -1em;
}
